@model List<EMS.Models.Employee>
@{
}

<h1> Employees </h1>

<table class= "table">
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeID</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Email</td>
                <td>@employee.Department</td>
                <td><a href="Employee/View/@employee.EmployeeID">Update/Delete</a></td>
            </tr>
        }
    </tbody>
</table>